<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
        <add name="Makhzan" connectionString="Data Source=AHMEDIBRAHIM;Initial Catalog=Makhzan;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    </configuration>